@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

:root {
  --font-style: normal;
  --font-family: Arial, Helvetica, sans-serif;
  --font-inter: 'Inter', var(--font-family);
  --font-sen: 'Sen', var(--font-family);
  --font-abel: 'Abel', var(--font-family);
  --font-poppins: 'Poppins', var(--font-family);
  --font-rochester: 'Rochester', var(--font-family);

  --color-text: #ffffff;
  --color-back: #010020;
  --color-main: #ff00f0;
  --color-tema: #000000;
  --color-bord: #5A0155;
  --color-with: #AB31A4;
  --color-card-back: color-mix(in srgb, var(--color-text) 5%, transparent);
  --color-bord-with: color-mix(in srgb, var(--color-text) 25%, transparent);
  --color-card-bord: color-mix(in srgb, var(--color-main) 15%, transparent);
  --color-card-tema: color-mix(in srgb, var(--color-tema) 25%, transparent);
  --color-tema-body: color-mix(in srgb, var(--color-tema) 10%, transparent);

  --blur-pixel-card: 15px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes count-animate {
  from {
    opacity: .7;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
  }
}

@keyframes page-animate {
  from {
    opacity: 1;
    visibility: visible;
    background-color: var(--color-back);
  }
  to {
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--color-text);
  background-color: var(--color-back);
  font-family: var(--font-sen);
  font-style: var(--font-style);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
}

button {
  cursor: pointer;
}

input, button, dialog, select {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  border: none;
  background: transparent;
}

img, svg {
  display: block;
  object-fit: cover;
  object-position: center;
}

._overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.page {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;

  .not-found {
    margin-top: auto;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: 1;
  }
}

.page_animate {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    animation: page-animate .75s forwards;
  }
}

.header {
  padding: 15px;
  border-radius: 0 0 15px 15px;
  backdrop-filter: blur(15px);
  background-color: var(--color-card-back);
  box-shadow:
    0 4px 50px 0 var(--color-card-bord),
    0 8px 15px 0 var(--color-card-tema);
}

.header .home {
  display: flex;
  align-items: center;
  gap: 7px;

  .logo {
    --size: 37px;
    height: var(--size);
    width: var(--size);
    border-radius: 8px;
    border: 1px solid var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
  }

  .image {
    width: 20px;
  }

  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
  }

  .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    opacity: .3;
  }
}

.header .main {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
}

.content {
  padding: 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding:  0 15px 15px;

  .items {
    padding: 7px;
    border-radius: 14px;
    backdrop-filter: blur(15px);
    background-color: var(--color-card-back);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .item {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: .2;
    transition: opacity .3s ease;

    &[data-active="true"],
    &:hover {
      opacity: 1;
      border-radius: 14px;
      backdrop-filter: blur(15px);
      background-color: var(--color-card-back);
    }
  }

  .icon {
    align-self: center;

    path {
      fill: var(--color-text);
    }
  }

  .name {
    margin-top: auto;
    font-family: var(--font-abel);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
  }
}

.earn {
  padding: 15px 0 0 0;

  .items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .item {
    padding: 6px;
    border-radius: 10px;
    background-color: var(--color-card-back);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }

  .name {
    font-weight: 400;
    font-size: 14px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .image {
    max-width: 17px;

    img {
      max-width: 100%;
    }
  }

  .item:nth-child(1) .image {
    position: relative;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid var(--color-bord);
    background-color: var(--color-back);
  }

  .count {
    font-weight: 700;
    font-size: 20px;
  }

  .numbers {
    padding: 24px 0 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .person {
    position: relative;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--color-bord);
    background-color: var(--color-back);
  }

  .person-icon {
    width: 27px;
  }

  .number {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 34px;
  }

  .material {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .label {
    font-weight: 700;
    font-size: 14px;
  }

  .arrow-icon {
    width: 4px;

    & path {
      fill: var(--color-text);
    }
  }

  .progress-bar {
    box-shadow: inset 0 0 0 1px var(--color-text);
    border-radius: 50px;
    width: 100%;
    height: 14px;
  }

  .progress {
    width: 40%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid var(--color-text);
    background: linear-gradient(90deg,
      #ab31a4 0%,
      rgba(55, 42, 207, 0.5) 28.94%,
      #570052 65.95%,
      #fbce1c 100%
    );
  }

  .circles {
    --size: 313px;
    height: var(--size);
    width: var(--size);
    position: relative;
    margin: 62px auto;
    box-sizing: content-box;
    max-width: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: absolute;

    &:first-child {
      border: 10px solid var(--color-bord);
      border-radius: inherit;
      width: inherit;
      height: inherit;
      box-shadow:
        inset 0 0 10px 50px var(--color-card-tema),
        0 0 25px 5px var(--color-card-tema);
    }

    &:last-child {
      --size: 126px;
      width: var(--size);
      height: var(--size);
      border-radius: inherit;
      background-color: var(--color-main);
      filter: blur(50px);
    }
  }

  .avatar {
    pointer-events: none;
    margin-left: 29px;
    width: 285px;
    z-index: 1;
  }

  .button {
    z-index: 1;
  }

  .sky {
    position: fixed;
    top: var(--y);
    left: var(--x);
    z-index: 1;
    animation: count-animate 1s forwards;
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
  }

  .ellipse {
    position: absolute;
    border-radius: 50%;
    background-color: #ff00f0;
    pointer-events: none;
  
    &:nth-child(1) {
      --size: 82px;
      width: var(--size);
      height: var(--size);
      filter: blur(200px);
      top: 140px;
      left: -12px;
    }

    &:nth-child(2) {
      --size: 107px;
      width: var(--size);
      height: var(--size);
      filter: blur(300px);
      top: 315px;
      right: -46px;
    }

    &:nth-child(3) {
      --size: 107px;
      width: var(--size);
      height: var(--size);
      filter: blur(300px);
      top: 530px;
      left: -12px;
    }
  }
}

.refer {
  padding: 20px 0 16px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .name {
    margin: 26px 0 43px;
    font-weight: 700;
    font-size: 17px;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .item {
    padding: 13px;
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    background-color: var(--color-card-back);
  }

  .avatar {
    width: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .title {
    font-weight: 400;
    font-size: 14px;
  }

  .description {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .coin {
    width: 15px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
    opacity: .6;
  }

  .ellipse {
    --size: 107px;
    position: absolute;
    border-radius: 100%;
    background-color: var(--color-main);
    filter: blur(300px);
    width: var(--size);
    height: var(--size);
    pointer-events: none;

    &:nth-child(1) {
      top: 165px;
      left: -12px;
    }

    &:nth-child(2) {
      top: 315px;
      right: -46px;
    }

    &:nth-child(3) {
      top: 530px;
      left: -12px;
    }
  }

  .info {
    margin-top: auto;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
  }

  .button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    background-color: var(--color-card-back);
    transition: opacity .3s ease;

    &:hover {
      opacity: .8;
    }
  }

  .friend-icon {
    width: 13px;

    path {
      fill: var(--color-text);
    }
  }

  .copy-icon {
    width: 21px;

    path {
      fill: var(--color-text);
    }
  }
}

.rating {
  padding: 29px 0;

  .table {
    display: grid;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1.5px solid var(--color-card-back);
  }

  .thead {
    display: block;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--color-card-back);
    background-color: var(--color-card-back);
    backdrop-filter: blur(15px);
  }

  .tbody {
    border-radius: 0 0 10px 10px;

    tr {
      backdrop-filter: blur(15px);

      &:nth-child(odd) {
        background-color: var(--color-card-back);
      }

      &:nth-child(even) {
        background-color: var(--color-tema-body);
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .tr {
    display: grid;
    grid-template-columns: repeat(var(--count), 1fr);
    grid-template-rows: 29px
  }

  .th, .td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .title {
    font-weight: 400;
    font-size: 10px;
  }

  .image {
    scale: 0.5;
  }

  .number {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 10px;
    text-align: center;
  }

  .ellipse {
    --size: 110px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-main);
    filter: blur(200px);
    pointer-events: none;

    &:nth-child(1) {
      top: 122px;
      left: 0;
    }

    &:nth-child(2) {
      top: 140px;
      right: 0;
    }

    &:nth-child(3) {
      top: 475px;
      left: -24px;
    }

    &:nth-child(4) {
      top: 400px;
      right: -50px;
    }

    &:nth-child(5) {
      top: 315px;
      right: -46px;
    }

    &:nth-child(6) {
      top: 530px;
      left: -12px;
    }
  }
}

.with {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .block {
    border-radius: 10px;
    border: 1px solid var(--color-bord-with);
    background-color: var(--color-card-back);
  }

  .grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(1) {
      padding: 20px 15px 20px 18px;
      border-bottom: 1px solid var(--color-bord-with);
      grid-column: span 2;

      .info {
        gap: 10px;
      }

      .currency-image {
        padding: 4.5px;
        border-radius: 50%;
        border: 1px solid var(--color-bord);
        background-color: var(--color-back);
      }

      .currency {
        position: relative;
        width: 27px;
      }

      .name {
        font-weight: 400;
        font-size: 17px;
      }

      .money {
        font-weight: 700;
        font-size: 24px;
      }
    }

    &:nth-child(2) {
      border-right: 1px solid var(--color-bord-with);
    }

    &:nth-child(n + 2) {
      padding: 14px 16px 14px 10px;

      .info {
        gap: 3px;
      }

      .currency {
        width: 22px;
      }

      .name {
        font-weight: 400;
        font-size: 14px;
      }

      .money {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
  }

  .socials {
    padding: 25px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .link {
    transition: opacity .3s;

    &:hover {
      opacity: .8;
    }
  }

  .link-icon path {
    fill: var(--color-text);
  }

  .container {
    position: relative;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .coins {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .coin {
    display: flex;
    align-items: center;
    gap: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .circle {
    --size: 20px;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      --size: 6px;
      content: '';
      width: var(--size);
      height: var(--size);
      position: absolute;
      border-radius: inherit;
      background-color: var(--color-text);
    }
  }

  .coin:not(:last-child) .circle {
    &::after {
      content: '';
      height: 1px;
      width: 30px;
      position: absolute;
      top: 150%;
      rotate: 90deg;
      background-color: inherit;
    }
  }

  .title {
    font-weight: 400;
    font-size: 14px;
  }

  .ellipse {
    --size: 107px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-main);
    filter: blur(200px);
    pointer-events: none;

    &:nth-child(1) {
      top: 160px;
      left: -8px;
    }

    &:nth-child(2) {
      top: 315px;
      right: -46px;
    }

    &:nth-child(3) {
      top: 530px;
      left: -12px;
    }

    &:nth-child(3) {
      top: 600px;
      right: -41px;
    }
  }

  .flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    top: 25px;
    right: 15px;
  }

  .select {
    position: relative;
  }

  .radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -99;
  }

  .input, .label {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    width: 121px;
    height: 32px;
    padding: 8px;
    text-align: center;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
  }

  .label {
    display: inline-block;
    background-image: url(./images/with/select/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
  }

  .options {
    position: absolute;
    width: 100%;
    border-radius: 0 0 7px 7px;
    border: .5px solid var(--color-card-back);
    background-color: var(--color-back);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;

    &[data-active="false"] {
      opacity: 0;
      visibility: hidden;
    }

    &[data-active="true"] {
      opacity: 1;
      visibility: visible;
    }
  }

  .button {
    text-align: center;
    transition: opacity .3s ease;

    &:hover {
      opacity: .8;
    }
  }

  .submits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .submit {
    max-width: 120px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--color-bord-with);
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;

    &:hover {
      opacity: .8;
    }
  }

  .submit_confirm {
    background-color: var(--color-with);
  }
}